body {
  background-color: whitesmoke;
  padding: 70px;
}

.card {
  background-color: rgba(237, 237, 151, 0.944);
  padding: 1%;
}

form,
label {
  margin: 10px;
}

form {
  margin: 20px auto;
  width: 420px;
}
.form-row {
  padding: 5px 10px;
}
label {
  display: block;
  margin: 3px 0;
}
.form-row input {
  padding: 3px 1px;
  width: 100%;
}
input.currency {
  text-align: right;
  padding-right: 15px;
}
.input-group .form-control {
  float: none;
}
.input-group .input-buttons {
  position: relative;
  z-index: 3;
}

#modal-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10;
  pointer-events: none;
}

#modal-backdrop.active{
  display: block;
  pointer-events: all;
}

#login-form {
  display: none;
}

#login-form.active {
  display: block;
}

#dashboard {
  display: none;
}

#dashboard.active {
  display: block;
}

.modal {
  position: absolute;
  z-index: 100;
  background: white;
  border-radius: 10px;
  width: 80%;
  height: 60%;
  top: 10vh;
  left: 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: none;
}

.modal.active {
  display: block;
  animation: fade-slide-in 0.3s ease-out forwards;
}

.modal .content{
  padding: 10px;
}

.modal .close {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 2rem;
  width: 2rem;
  border-radius: 10px;
}

.modal .title{
  margin: 0;
  padding: 1rem;
  border-bottom: 1px solid #00329e;
  background: #8f8f8f;
  color: white;
  border-radius: 10px 10px 0 0;
  text-align: center;
}

#manager-container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#manager-container.active {
  display: block;
}

